.actionRow {
  display: flex;
  flex-direction: row;
}

.actions {
  margin-top: 1.5rem;
  align-items: stretch;
}

.actionPageNumber {
  font-weight: bold;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}
