.notification {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.5rem 2%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);

  animation-name: notification;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

  /* visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s; */
}

@keyframes notification {
  0% {
    visibility: hidden;
    opacity: 0;
    bottom: 0rem;
  }
  5% {
    visibility: visible;
    opacity: 1;
    bottom: 1rem;
  }
  70% {
    visibility: visible;
    opacity: 1;
    bottom: 1rem;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    bottom: 1rem;
  }
}

.notification h2 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.pending {
  background-color: #177cbe;
}

.success {
  background-color: #10be58;
}

.error {
  background-color: #e65035;
}
